<% li_class = "account-button clickable" %>
<% sortable ? li_class += " sortable" : li_class += " no-sorting" %>
<% sortable ? sort_div = "<div class=\"sort-handle\"></div>".html_safe : sort_div = "" %>
<% li_class += " active" if account.id.to_s == @account_id.to_s %>

<li class="<%= li_class %>" id="account_<%= account.id %>">
  <%= sort_div %>
  <%= account.name %>
  <span class="balance float-right">
    
  </span>
</li>