<% accounts = locals[:accounts].accounts %>

<ul class="sortable-list list-unstyled components" id="accounts_list">

	<% if accounts.length <= 1 %>
		<a id="create-account-instruction" class="clickable" data-toggle="modal" data-target="#accountform" onclick="renderAccountMenu();" >
			<%= t('views.left_menu.accounts.none') %>
		</a>
	<% end %>

  <%= render accounts %>
  
</ul>