<% accounts = locals[:accounts].accounts %>

<ul class="sortable-list" id="accounts_list">
  <%= render "left_menu/new_account_menu" %>

  <% if accounts.length == 0 %>
    <p class="left-menu__instructions">Create an account by clicking the + button</p>
  <% end %>

  
  <% accounts.each do |a| %>
    <%= render partial: "left_menu/account", locals: {
      account: a,
      id: a.id,
      sortable: true
    } %>
  <% end %>
</ul>