<% accounts = locals[:accounts].accounts %>

<ul class="sortable-list" id="accounts_list">

  <% if accounts.length == 0 %>
    <p class="left-menu__instructions">Create an account by clicking the + button</p>
  <% end %>

  <%= render accounts %>
  
</ul>