<div class="expenseRow">
	<hr />
	<button class="btn btn-danger float-right rounded-circle" data-toggle="tooltip" data-placement="top" title="Remove this expense" onclick="removeExpenseRow(this); return false;">&times</button>
	<%= render :partial => 'schedules/simplified_form', :locals => {:type => "fixed_expense"} %>
</div>