<div class="container">
  
  <div class="row">
    <div class="col-12">

    	<div class="row">
    		<div class="col-12">
    			<h1 class="text-light text-center">Welcome</h1>
    		</div>
    	</div>

    	<div class="row my-5 py-3 px-3">
		  	<div class="col-12">
		  		<form id="userwizzard">

		  			<%# progressbar %>
		  			<ul id="wizzard-progressbar">
		  				<li class="active">Accounts</li>
		  				<li>Income</li>
		  				<li>Categories</li>
		  				<li>Expenses</li>
		  			</ul>

		  			<%# fieldsets %>
		  			<fieldset class="rounded dropshadow bg-light py-2 px-2">
		  				<h3 class="fs-title">Accounts</h3>
		  				<h4 class="fs-subtitle">Set up your accounts</h4>

		  				<div class="row">
		  					<div class="col-5 col-sm-6">
		  						<label>Name</label>
		  					</div>
		  					<div class="col-3 px-0">
		  						<label>Balance</label>
		  					</div>
		  					<div class="col-4 col-sm-3">
		  						<label>Currency</label>
		  					</div>
		  				</div>

		  				<div id="account_rows">
		  					<%= render partial: "account_row" %>
		  				</div>

		  				<button class="btn btn-secondary float-right my-3" data-toggle="tooltip" data-placement="top" title="Add additional account" onclick="insertAccountRow(); return false;">+</button>
		  				<button id="remove_account_row" class="btn btn-secondary float-right my-3 mx-2 disabled"  data-toggle="tooltip" data-placement="top" title="Remove account" onclick="removeAccountRow(); return false;">-</button>

		  				<input type="button" name="next" class="next action-button" value="Next"/>
		  			</fieldset>
		  			<fieldset class="rounded dropshadow bg-light py-2 px-2">
		  				<h3 class="fs-title">Income</h3>
		  				<h4 class="fs-subtitle">Describe your income</h4>

		  				<div class="row">
		  					<div class="col-12">

		  					</div>
		  				</div>
		  			</fieldset>

		  		</form>
		  	</div>
		  </div>

    </div>
  </div>

</div>

<script>
	function insertAccountRow() {
		$.ajax({
	    type: "GET",
	    dataType: "json",
	    url: "/api/get_user_subscription_details",
	    success(data) {
	      if ($(".account_row").length < data.max_accounts || data.max_accounts < 0){
	      	$("#account_rows").append("<%= j render :partial => 'account_row' %>");
	      	$("#remove_account_row").removeClass("disabled");
	      } else {
	      	triggerNotice("Upgrade to permium for more accounts", true);
	      }
	    }
	  });
	}

	function removeAccountRow() {
		if ($(".account_row").length > 1) {
			$(".account_row").last().remove();
		}
		
		if ($(".account_row").length === 1) {
			$("#remove_account_row").addClass("disabled");
		}
	}
</script>