<div class="container">

  <div class="row">
    <div class="col-12">

      <div class="row">
        <div class="col-12">
          <h1 class="text-light text-center">Welcome</h1>
        </div>
      </div>

      <div class="row my-5 py-3 px-3">
        <div class="col-12">
          <form id="userwizzard">

            <%# progressbar %>
            <ul id="wizzard-progressbar">
              <li class="active">Accounts</li>
              <li>Income</li>
              <li>Categories</li>
              <li>Expenses</li>
            </ul>

            <%# fieldsets %>
            <fieldset class="rounded dropshadow bg-light py-2 px-2">
              <h3 class="fs-title">Accounts</h3>
              <h4 class="fs-subtitle">Set up your accounts</h4>

              <div class="row">
                <div class="col-5 col-sm-6">
                  <label>Name</label>
                </div>
                <div class="col-3 px-0">
                  <label>Balance</label>
                </div>
                <div class="col-4 col-sm-3">
                  <label>Currency</label>
                </div>
              </div>

              <div id="account_rows">
                <%= render partial: "account_row" %>
              </div>

              <button class="btn btn-secondary float-right my-3" data-toggle="tooltip" data-placement="top" title="Add additional account" onclick="insertAccountRow(); return false;">+</button>
              <button id="remove_account_row" class="btn btn-secondary float-right my-3 mx-2 disabled"  data-toggle="tooltip" data-placement="top" title="Remove account" onclick="removeAccountRow(); return false;">-</button>

              <input type="button" name="next" class="next action-button" value="Next"/>

            </fieldset>
            <fieldset class="rounded dropshadow bg-light py-2 px-2">
              <h3 class="fs-title">Income</h3>
              <h4 class="fs-subtitle">Describe your income</h4>

              <div id="simple_schedule_form">
                <div class="root">

                  <select name="regularity" class="form-control">
                    <option disabled selected value> -- </option>
                    <option value="regular" children=".path-regular">I get paid on regular intervals</option>
                    <option value="sporadic" children=".path-sporadic">I get paid sporadically</option>
                    <option value="none" children=".path-none">I don't have an income</option>
                  </select>

                  <div class="children">
                    <div class="child path-regular">
                      <%= render partial: "schedules/simplified_form", :locals => {:paid => true} %>
                      </div>

                    </div>

                    <div class="child path-sporadic">
                      
                    </div>

                    <div class="child path-none">
                      
                    </div>

                  </div>

                </div>
              </div>

              <input type="button" name="previous" class="previous action-button" value="Previous"/>
              <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>

          </form>
        </div>
      </div>

    </div>
  </div>

</div>

<script>
  "use strict";

  var current_fs, next_fs, previous_fs;
  var left, opacity, scale;
  var animating;
  $("#simple_schedule_form").change(function(e){
    showHideFields($(e.target));
  });

  $("#month_day").change(function(){
    let n = parseInt($(this).val());
    if (Number.isNaN(n)) {
      n = 1
    }

    if (n > 4) {
      $("#month_day2").val("day");
      $("#month_day2 option").slice(2).attr('disabled','disabled');
      showHideFields($("#month_day2"));
    } else {
      $("#month_day2 option").slice(2).removeAttr('disabled');
      showHideFields($("#month_day2"));
    }
  });

  function showHideFields($target) {
    var children;
    var selectedValue;
    if ($target.is("select")) {
      selectedValue = $target.val();
      $target.children("option").each(function(){
        if ($(this).attr("value") === selectedValue) {
          children = $(this).attr("children");
        }
      });
      $target.next(".children").children(children).show();
      $target.next(".children").children().not(children).hide()
    }
  }
  $("#simple_schedule_form .root").find(".child").each(function(){
    $(this).hide();
  });
  function insertAccountRow() {
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/api/get_user_subscription_details",
      success(data) {
        if ($(".account_row").length < data.max_accounts || data.max_accounts < 0){
          $("#account_rows").append("<%= j render :partial => 'account_row' %>");
          $("#remove_account_row").removeClass("disabled");
        } else {
          triggerNotice("Upgrade to permium for more accounts", true);
        }
      }
    });
  }
  function removeAccountRow() {
    if ($(".account_row").length > 1) {
      $(".account_row").last().remove();
    }
    
    if ($(".account_row").length === 1) {
      $("#remove_account_row").addClass("disabled");
    }
  }
  $(".next").click(function(){
    if (animating) return false;
    animating = true;
    current_fs = $(this).parent();
    next_fs = $(this).parent().next();
    // progress the progressbar
    $("#wizzard-progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
    // show the next fieldset
    next_fs.show();
    // hide the current fieldset
    current_fs.animate({opacity: 0}, {
      step: function(now, mx) {
        scale = 1 - (1 - now) * 0.2;
        //left = (now * 50) + "%";
        opacity = 1 - now;
        current_fs.css({
          'transform': 'scale('+scale+')',
          'position': 'absolute'
        });
        next_fs.css({'opacity': opacity});
      },
      duration: 800,
      complete: function(){
        current_fs.hide();
        animating = false;
      },
      easing: 'easeInOutBack'
    })
  });
  $(".previous").click(function(){
    if(animating) return false;
    animating = true;
    current_fs = $(this).parent();
    previous_fs = $(this).parent().prev();
    $("#wizzard-progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
    previous_fs.show();
    current_fs.animate({opacity: 0}, {
      step: function(now, mx) {
        scale = 0.8 + (1 - now) * 0.2;
        //left = ((1 - now) * 50)+"%";
        opacity = 1 - now;
        current_fs.css({'left': left});
        previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
      },
      duration: 800,
      complete: function() {
        current_fs.hide();
        animating = false;
      },
      easing: 'easeInOutBack'
    })
  });
  $("#steadyFrequency").change(function(){
    $("#steadyFrequency").val(parseInt($("#steadyFrequency").val()));
    if($("#steadyFrequency").val() < 1) {
      $("#steadyFrequency").val(1);
    }
  });
</script>
