<%# schedule = schedule.dup %>

<%= form_with(model: schedule) do |f| %>
  <div class="modal-body">
    <div class="container" id="scheduleform">
    	<%= render partial: "/schedules/schedule_form_fields", :locals => {:f => f, :schedule => schedule} %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="schedule_close_form"><%= t('views.buttons.modals.close.text') %></button>
    <%= f.button t('views.schedules.edit_menu.update.text'), :class => 'btn btn-primary', data: {disable_with: image_tag("ajax_spinner_white.svg", height: "20") + " #{t('views.schedules.edit_menu.update.action')} ..."} %>
  </div>
<% end %>