<% schedule = Schedule.new %>
<%
  type_of ||= 'schedule'
	if type_of == 'main'
		schedule.type_of = 'main'
		schedule.name = 'Income'
	end
%>

<%= form_with(model: schedule) do |f| %>
  <div class="modal-body">
    <div class="container" id="scheduleform">
    	<%= render partial: "/schedules/schedule_form_fields", :locals => {:f => f, :schedule => schedule, :type_of => type_of } %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="schedule_close_form"><%= t('views.buttons.modals.close.text') %></button>
    <%= f.button t('views.schedules.new.create.text'), :class => 'btn btn-primary', data: {disable_with: image_tag("ajax_spinner_white.svg", height: "20") + " #{t('views.schedules.new.create.action')} ..."} %>
  </div>
<% end %>