var remove_from = $("#schedule_<%= schedule.hash_id %>").parents("table").attr("id");
var parent = $("#schedule_<%= schedule.hash_id %>").parents(".schedules-table-parent").attr("id");

$("#schedule_" + "<%= schedule.hash_id %>").remove();

if ($("table#" + remove_from + " tr").length == 1) {
	$("table#" + remove_from).remove();
	<% if schedule.type_of == 'main' %>
		$("button#new-income-schedule-button").show();
	<% else %>
		$("#" + parent).append("<p><%= t('schedules.no_' + remove_from + '_schedules') %></p>");
	<% end %>
}