<div class="modal <%= 'fade' if Rails.env.test? == false %>" id="editscheduleform" tabindex="-1" role="dialog" aria-labelledby="editscheduleformLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editscheduleformLabel"><%= t('modal_titles.edit_schedule') %>: <span id="schedule_name"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id="edit_schedule_form">

        <%= render partial: "schedules/new_schedule_form" if Rails.env.test? %>

      </div>

    </div>
  </div>
</div>