<% if active %>
  <% if defined?(paused) && paused == true %>
    <% table_id = 'schedules_paused' %>
    <% schedules = @paused_schedules %>
    <% th_run_date = 'Paused until' %>
  <% else %>
    <% table_id = 'schedules_active' %>
    <% schedules = @schedules %>
    <% th_run_date = 'Next run date' %>
  <% end %>
<% else %>
  <% table_id = 'schedules_inactive' %>
  <% schedules = @inactive_schedules %>
  <% th_run_date = 'Last run date' %>
<% end %>

<table id="<%= table_id %>">
  <th>Name</th>
  <th><%= th_run_date %></th>
  <th></th>
  <%= render schedules if defined?(schedules) && !schedules.nil? %>
</table>