<div class="transaction card" id="transaction_<%= transaction.hash_id %>" amount="<%= transaction.user_currency_amount %>">

  <%= render partial: "schedules/transaction_card", :locals => {:transaction => transaction} %>

</div>