<h2>Schedules</h2>

<%= render 'schedule_menu' %>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scheduleform" id="new-schedule-button">
  New Schedule
</button>

<h3>Active Schedules</h3>
<div id="active-schedules">
  <ul>
    <p>
      <%= I18n.t('schedules.no_active_schedules') %>
    </p>
  </ul>
</div>

<h3>Inactive Schedules</h3>
<div id="inactive-schedules">
  <ul>
    <p>
      <%= I18n.t('schedules.no_inactive_schedules') %>
    </p>
  </ul>
</div>