<div class="container hide-pagination">
  <div class="row">
    <div class="col-12">

    	<h2>Upcoming Transactions</h2>
    	<p>Transactions scheduled between now and <%= User.format_date(@date + 1.day, true) %></p>

    	<% if @transactions.length == 0 %>
    		<p>No transactions scheduled for now</p>
    	<% else %>
    		<table>
    			<th>Date</th>
    			<th>Schedule</th>
    			<th>Description</th>
    			<th>Amount</th>
    			<th></th>
	    		<%= render :partial => "upcoming_transactions_list", :collection => @transactions, :as => :transaction %>
	    	</table>
    	<% end %>

    </div>
  </div>
</div>