<div class="dropdown clickable">

  <div class="dropdown__selected">
    <%= image_tag 'categories/' + selected[:symbol] + '.svg', :style => "background-color: hsl(" + selected[:color] + ");" %>
    <%= selected[:name] %>
  </div>

  <div class="dropdown__options">
    <input id="search-categories" placeholder="Search"></input>
    <%= draw_tree(options) %>
  </div>

</div>