<div class="dropdown clickable">
  <%= selected %>
  <div class="dropdown__options">
    <ul>
      <% options.each do |option| %>
        <li><%= option %></li>
      <% end %>
    </ul>
  </div>
</div>