<div class="dropdown">
  <button class="btn btn-outline-dark dropdown-toggle text-left" type="button" id="categories-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" input-target="<%= input_target %>">
    Category
  </button>
  <div class="dropdown-menu" aria-labelledby="categories-dropdown" id="categoriesDropdownOptions">
    <input id="search-categories" placeholder="Search" class="form-control" onkeyup="searchCategories('#categoriesDropdownOptions', '#search-categories')"></input>
    <%= draw_tree(options) %>
  </div>
</div>