TRANSACTION<br />

<% tzTransaction = TZInfo::Timezone.get(@transaction.timezone) %>
<% tzUser = TZInfo::Timezone.get(current_user.timezone) %>

<%= @transaction.description %><br />
<%= tzTransaction.utc_to_local(@transaction.created_at) %>

<h1>TEST</h1>
<%= get_transaction_time(@transaction).to_date %>