<div class="container">
	<div class="row">
		<div class="col-12">
			<h2>
				Error #500
			</h2>
			<h3>
				Our servers couldn't figure this out.
			</h3>
		</div>
	</div>
	<div class="row py-2">
		<div class="col-12">
			<p>
				Perhaps you are here because:
			</p>
			<ul>
				<li>
					We accidentally broke something
				</li>
				<li>
					Someone else accidentally broke something
				</li>
				<li>
					You accidentally something
				</li>
				<li>
					You broke something on purpose
				</li>
			</ul>
		</div>
	</div>

	<div class="row py-2">
		<div class="col-12">
			<a href="/" role="button" class="btn btn-primary">
				Return to home
			</a>
		</div>
	</div>
</div>