<div class="container">
	<div class="row">
		<div class="col-12">
			<h2>
				Error #404
			</h2>
			<h3>
				We couldn't find the page you requested.
			</h3>
		</div>
	</div>
	<div class="row py-2">
		<div class="col-12">
			<p>
				Perhaps you are here because:
			</p>
			<ul>
				<li>
					The page has moved
				</li>
				<li>
					The page no longer exists
				</li>
				<li>
					There is a typo in the url
				</li>
				<li>
					You like 404 pages and came here intentionally
				</li>
			</ul>
		</div>
	</div>

	<div class="row py-2">
		<div class="col-12">
			<a href="/" role="button" class="btn btn-primary">
				Return to home
			</a>
		</div>
	</div>
</div>