<div class="container">
	<div class="row">
		<div class="col-12">
			<h2>
				Error #422
			</h2>
			<h3>
				Your change has been rejected.
			</h3>
		</div>
	</div>
	<div class="row py-2">
		<div class="col-12">
			<p>
				Perhaps you are here because:
			</p>
			<ul>
				<li>
					You don't have access to the thing you are trying to change
				</li>
				<li>
					The server has become sentient and dislikes you and/or your change
				</li>
			</ul>
		</div>
	</div>

	<div class="row py-2">
		<div class="col-12">
			<a href="/" role="button" class="btn btn-primary">
				Return to home
			</a>
		</div>
	</div>
</div>