$.getScript("<%= asset_path "datepicker" %>");

var type = "simple";

function sanitize(val) {
  if (typeof(val) !== "undefined"){
    val = val.toString();
    val = val.replace(/\//g, "%2F");
    if (val.length === 0) {
      val = "%20";
    }

    val = val.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/"/g, "&quot;");
  }

  return val;
}

function getScheduleNextOccurrences(obj){
  var name = sanitize($(obj).parents("#schedule-form-root").find("#schedule_name").val());
  var startDate = sanitize($(obj).parents("#schedule-form-root").find("#schedule_start_date").val());
  var timezone = sanitize($(obj).parents("#schedule-form-root").find("#timezone_input").val());
  var schedule = sanitize($(obj).parents("#schedule-form-root").find("#schedule_schedule").val());
  var runEvery = sanitize($(obj).parents("#schedule-form-root").find("#schedule_run_every").val());
  var days = sanitize($(obj).parents("#schedule-form-root").find("#schedule_days").val());
  var days2 = sanitize($(obj).parents("#schedule-form-root").find("#schedule_days2").val());
  var datesPicked = sanitize($(obj).parents("#schedule-form-root").find("#schedule_dates_picked").val());
  var weekdayMon = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_mon").prop("checked")*1);
  var weekdayTue = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_tue").prop("checked")*1);
  var weekdayWed = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_wed").prop("checked")*1);
  var weekdayThu = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_thu").prop("checked")*1);
  var weekdayFri = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_fri").prop("checked")*1);
  var weekdaySat = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_sat").prop("checked")*1);
  var weekdaySun = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_sun").prop("checked")*1);
  var endDate = sanitize($(obj).parents("#schedule-form-root").find("#schedule_end_date").val());
  var weekdayExcludeMon = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_exclude_mon").prop("checked")*1);
  var weekdayExcludeTue = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_exclude_tue").prop("checked")*1);
  var weekdayExcludeWed = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_exclude_wed").prop("checked")*1);
  var weekdayExcludeThu = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_exclude_thu").prop("checked")*1);
  var weekdayExcludeFri = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_exclude_fri").prop("checked")*1);
  var weekdayExcludeSat = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_exclude_sat").prop("checked")*1);
  var weekdayExcludeSun = sanitize($(obj).parents("#schedule-form-root").find("#schedule_weekday_exclude_sun").prop("checked")*1);
  var datesPickedExclude = sanitize($(obj).parents("#schedule-form-root").find("#schedule_dates_picked_exclude").val());
  var exclusionMet1 = sanitize($(obj).parents("#schedule-form-root").find("#schedule_exclusion_met1").val());
  var exclusionMet2 = sanitize($(obj).parents("#schedule-form-root").find("#schedule_exclusion_met2").val());
  var occurrenceCount = "10";

  $.ajax({
    type: "GET",
    dataType: "json",
    url: "api/v1/next_schedule_occurrence" + "/" + occurrenceCount.toString() + "/" + type + "/" + startDate + "/" + timezone + "/" + schedule + "/" + runEvery + "/" + days + "/" + days2 + "/" + datesPicked + "/" + weekdayMon + "/" + weekdayTue + "/" + weekdayWed + "/" + weekdayThu + "/" + weekdayFri + "/" + weekdaySat + "/" + weekdaySun + "/" + endDate + "/" + weekdayExcludeMon + "/" + weekdayExcludeTue + "/" + weekdayExcludeWed + "/" + weekdayExcludeThu + "/" + weekdayExcludeFri + "/" + weekdayExcludeSat + "/" + weekdayExcludeSun + "/" + datesPickedExclude + "/" + exclusionMet1 + "/" + exclusionMet2,
    beforeSend() {
      $(obj).parents("#schedule-form-root").find("#next_occurrences").html("");
      //insertAjaxSpinner($("#scheduleform #next_occurrences"));
    },
    complete() {
      //removeAjaxSpinner($("#scheduleform #next_occurrences"));
    },
    success(data) {
      $("#scheduleform #next_occurrences").html("<ul>");
      data.forEach(function(d) {
        $("#scheduleform #next_occurrences").append("<li>" + d + "</li>");
      });
      $("#scheduleform #next_occurrences").append("</ul>");
    }
  });
}

// don't allow values less than one in the 'run_every' field
function changeRunsEvery(obj) {
  var val = 0;
  val = $(obj).parents("#schedule-form-root").find("#schedule_run_every").val();
  if (val < 1){
    $(obj).parents("#schedule-form-root").find("#schedule_run_every").val("1");
  }
  getScheduleNextOccurrences();
}

function changeSchedulePeriod(val, obj) {
  $(obj).parents("#schedule-form-root").find(".daily").slideUp("fast");
  $(obj).parents("#schedule-form-root").find(".weekly").slideUp("fast");
  $(obj).parents("#schedule-form-root").find(".monthly").slideUp("fast");
  $(obj).parents("#schedule-form-root").find(".annually").slideUp("fast");

  switch (val.toLowerCase()) {
    case "daily":
      $(obj).parents("#schedule-form-root").find("p#period").text("days");
      $(obj).parents("#schedule-form-root").find(".daily").slideDown("fast");
      break;
    case "weekly":
      $(obj).parents("#schedule-form-root").find("p#period").text("weeks");
      $(obj).parents("#schedule-form-root").find(".weekly").slideDown("fast");
      break;
    case "monthly":
      $(obj).parents("#schedule-form-root").find("p#period").text("months");
      $(obj).parents("#schedule-form-root").find(".monthly").slideDown("fast");
      break;
    case "annually":
      $(obj).parents("#schedule-form-root").find("p#period").text("years");
      $(obj).parents("#schedule-form-root").find(".annually").slideDown("fast");
  }
}

function changeScheduleExclusionMet(val, obj){
  var $exlusionMet2 = $(obj).parents("#schedule-form-root").find("#schedule_exclusion_met2");

  switch (val.toLowerCase()) {
    case "cancel":
      $exlusionMet2.slideUp("fast");
      break;
    default:
      $exlusionMet2.slideDown("fast");
  }
}

function showDaypicker(obj){
  var $daypicker = $(obj).parents("#schedule-form-root").find("#daypicker");
  var $daypickerExclude = $(obj).parents("#schedule-form-root").find("#daypicker-exclude");
  var $weekdayExclude = $(obj).parents("#schedule-form-root").find("#weekday-exclude");

  $daypicker.slideDown("fast");
  $daypickerExclude.slideUp("fast");
  $weekdayExclude.slideDown("fast");
}
function hideDaypicker(){
  var $daypicker = $("#scheduleform #daypicker");
  var $daypickerExclude = $("#scheduleform #daypicker-exclude");
  var $weekdayExclude = $("#scheduleform #weekday-exclude");

  $daypicker.slideUp("fast");
  $daypickerExclude.slideDown("fast");
  $weekdayExclude.slideUp("fast");
}

function changeScheduleDays(val, obj){
  var $scheduleDays2 = $(obj).parents("#schedule-form-root").find("#schedule_days2");
  var $daypickerExclude = $(obj).parents("#schedule-form-root").find("#daypicker-exclude");
  var $weekdayExclude = $(obj).parents("#schedule-form-root").find("#weekday-exclude");
  var $daypicker = $(obj).parents("#schedule-form-root").find("#daypicker");

  switch (val.toLowerCase()) {
    case "specific":
      showDaypicker(obj);
      $scheduleDays2.slideUp("fast");
      break;
    default:
      $daypicker.slideUp("fast");
      $scheduleDays2.slideDown("fast");
      switch ($scheduleDays2.val()) {
        case "day":
          $weekdayExclude.slideDown("fast");
          $daypickerExclude.slideUp("fast");
          break;
        default:
          $weekdayExclude.slideUp("fast");
          $daypickerExclude.slideDown("fast");
      }
  }
}

function showWeekday(){
  $("#scheduleform .schedule-simple-period").slideUp("fast");
  $("#scheduleform #weekday").slideDown("fast");
}

function hideWeekday(){
  $("#scheduleform .schedule-simple-period").slideDown("fast");
  $("#scheduleform #weekday").slideUp("fast");
}

function advancedScheduleOptions(obj, force=0){
  var $advancedOptions = $(obj).parents("#schedule-form-root").find("#schedule_advanced");
  var $advancedOptionsToggle = $(obj).parents("#schedule-form-root").find("#schedule_advanced_toggle");

  if ($advancedOptions.is(":visible") || force === -1){
    $advancedOptions.slideUp(200);
    $advancedOptionsToggle.text("show advanced options");
  } else {
    $advancedOptions.slideDown(200);
    $advancedOptionsToggle.text("hide advanced options");
  }
}

function schedulePickDate(date, datesTarget) {
  var isActive = false;
  var $datesPicked = $(date).parents("#schedule-form-root").find(datesTarget);
  var dates = $datesPicked.val().split(" ");
  var index = -1;
  var value = $(date).text();

  $(date).toggleClass("active");
  isActive = $(date).hasClass("active");

  if (isActive) {
    dates.push(value);
  } else {
    index = dates.indexOf(value);
    if (index > -1) {
      dates.splice(index, 1);
    }
  }

  $datesPicked.val(dates.join(" "));

  getScheduleNextOccurrences();
}

function changeScheduleType(sType, obj){
  type = sType;
  if (sType === "simple"){
    $(obj).parents("#schedule-form-root").find(".schedule-advanced").slideUp("fast");
  } else {
    $(obj).parents("#schedule-form-root").find(".schedule-advanced").slideDown("fast");
  }
}

function resetScheduleMenu(){
  //$("#scheduleform").find("input[type=submit]").attr("disabled", "disabled");
  $("#scheduleform #schedule_schedule").val("monthly");
  changeSchedulePeriod("monthly");
  changeScheduleType("simple");
  changeScheduleDays("specific");
  changeScheduleExclusionMet("cancel");

  // update date & time
  $("#scheduleform #schedule_start_date").val(getDate());
  $("#scheduleform #schedule_start_time").val(getTime());
  $("#scheduleform #timezone_input").setTimezone();

  $("#scheduleform #schedule_dates_picked").val("");
  $("#scheduleform #schedule_dates_picked_exclude").val("");

  $("#scheduleform #schedule_name").val("");
  $("#scheduleform #schedule_exclusion_met1").val("cancel");
  $("#scheduleform #schedule_exclusion_met2").val("mon");
  $("#scheduleform #schedule_run_every").val(1);

  $("#scheduleform #schedule_days").val("specific");
  $("#scheduleform #schedule_days2").val("day");

  $("#scheduleform #daypicker table td").each(function(i){
    $(this).removeClass("active");
  });

  $("#scheduleform #daypicker-exclude table td").each(function(i){
    $(this).removeClass("active");
  });

  // reset the button-group elements
  $("#scheduleform #button-group").each(function(index){
    $(this).find("input").each(function(i){
      $(this).prop("checked", i === 0);
    });
    $(this).find("label").each(function(i){
      if(i === 0){
        $(this).addClass("active");
      } else {
        $(this).removeClass("active");
      }
    });
  });

  // reset the button-group-weekdays elements
  $("#scheduleform #button-group-weekdays").each(function(index){
    $(this).find("input").each(function(i){
      $(this).prop("checked", false);
    });
    $(this).find("label").each(function(i){
      $(this).removeClass("active");
    });
  });

  advancedScheduleOptions(-1);

  getScheduleNextOccurrences();
}

function renderScheduleMenu() {
  $("#new_schedule_form").html("");
  $.ajax({
    type: "GET",
    dataType: "html",
    url: "/api/v1/forms/schedules/new",
    beforeSend(){
      insertAjaxSpinner($("#new_schedule_form"));
    },
    success(data) {
      $("#new_schedule_form").html(data);
      //resetScheduleMenu();
      setDatepickers();
      addLadderformListeners();
      setTimezones();
      getScheduleNextOccurrences($("#new_schedule_form").find("#type"));
    }
  });
}

function editScheduleForm(scheduleId){
  $("#edit_schedule_form").html("");
  $.ajax({
    type: "GET",
    dataType: "html",
    url: "/api/v1/forms/schedules/edit/" + scheduleId.toString(),
    beforeSend() {
      insertAjaxSpinner($("edit_schedule_form"));
    },
    success(data) {
      $("#edit_schedule_form").html(data);
      setDatepickers();
      addLadderformListeners();
      setTimezones();
      getScheduleNextOccurrences($("#edit_schedule_form").find("#type"));
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "/api/v1/schedules/" + scheduleId,
        success(data){
          $("#editscheduleform span#schedule_name").text(data.name);
        }
      })
    }
  })
}