$.getScript("<%= asset_path "datepicker" %>");

var type = "simple";

function sanitize(val) {
  val = val.toString();
  val = val.replace(/\//g, "%2F");
  if (val.length === 0) {
    val = "%20";
  }

  val = val.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/"/g, "&quot;");

  return val;
}

function getScheduleNextOccurrences(){
  var name = sanitize($("#scheduleform #schedule_name").val());
  var startDate = sanitize($("#scheduleform #schedule_start_date").val());
  var timezone = sanitize($("#scheduleform #timezone_input").val());
  var schedule = sanitize($("#scheduleform #schedule_schedule").val());
  var runEvery = sanitize($("#scheduleform #schedule_run_every").val());
  var days = sanitize($("#scheduleform #schedule_days").val());
  var days2 = sanitize($("#scheduleform #schedule_days2").val());
  var datesPicked = sanitize($("#scheduleform #schedule_dates_picked").val());
  var weekdayMon = sanitize($("#scheduleform #schedule_weekday_mon").prop("checked")*1);
  var weekdayTue = sanitize($("#scheduleform #schedule_weekday_tue").prop("checked")*1);
  var weekdayWed = sanitize($("#scheduleform #schedule_weekday_wed").prop("checked")*1);
  var weekdayThu = sanitize($("#scheduleform #schedule_weekday_thu").prop("checked")*1);
  var weekdayFri = sanitize($("#scheduleform #schedule_weekday_fri").prop("checked")*1);
  var weekdaySat = sanitize($("#scheduleform #schedule_weekday_sat").prop("checked")*1);
  var weekdaySun = sanitize($("#scheduleform #schedule_weekday_sun").prop("checked")*1);
  var endDate = sanitize($("#scheduleform #schedule_end_date").val());
  var weekdayExcludeMon = sanitize($("#scheduleform #schedule_weekday_exclude_mon").prop("checked")*1);
  var weekdayExcludeTue = sanitize($("#scheduleform #schedule_weekday_exclude_tue").prop("checked")*1);
  var weekdayExcludeWed = sanitize($("#scheduleform #schedule_weekday_exclude_wed").prop("checked")*1);
  var weekdayExcludeThu = sanitize($("#scheduleform #schedule_weekday_exclude_thu").prop("checked")*1);
  var weekdayExcludeFri = sanitize($("#scheduleform #schedule_weekday_exclude_fri").prop("checked")*1);
  var weekdayExcludeSat = sanitize($("#scheduleform #schedule_weekday_exclude_sat").prop("checked")*1);
  var weekdayExcludeSun = sanitize($("#scheduleform #schedule_weekday_exclude_sun").prop("checked")*1);
  var datesPickedExclude = sanitize($("#scheduleform #schedule_dates_picked_exclude").val());
  var exclusionMet1 = sanitize($("#scheduleform #schedule_exclusion_met1").val());
  var exclusionMet2 = sanitize($("#scheduleform #schedule_exclusion_met2").val());
  var occurrenceCount = "10";

  $.ajax({
    type: "GET",
    dataType: "json",
    url: "api/v1/next_schedule_occurrence" + "/" + occurrenceCount.toString() + "/" + type + "/" + startDate + "/" + timezone + "/" + schedule + "/" + runEvery + "/" + days + "/" + days2 + "/" + datesPicked + "/" + weekdayMon + "/" + weekdayTue + "/" + weekdayWed + "/" + weekdayThu + "/" + weekdayFri + "/" + weekdaySat + "/" + weekdaySun + "/" + endDate + "/" + weekdayExcludeMon + "/" + weekdayExcludeTue + "/" + weekdayExcludeWed + "/" + weekdayExcludeThu + "/" + weekdayExcludeFri + "/" + weekdayExcludeSat + "/" + weekdayExcludeSun + "/" + datesPickedExclude + "/" + exclusionMet1 + "/" + exclusionMet2,
    beforeSend() {
      $("#scheduleform #next_occurrences").html("");
      //insertAjaxSpinner($("#scheduleform #next_occurrences"));
    },
    complete() {
      //removeAjaxSpinner($("#scheduleform #next_occurrences"));
    },
    success(data) {
      $("#scheduleform #next_occurrences").html("<ul>");
      data.forEach(function(d) {
        $("#scheduleform #next_occurrences").append("<li>" + d + "</li>");
      });
      $("#scheduleform #next_occurrences").append("</ul>");
    }
  });
}

/*function updateScheduleNameInput(inputObject) {
  var $scheduleform = $();
  var $input = $();
  var inputValue = "";

  $input = $("#" + inputObject.id);
  $scheduleform = $input.closest("#scheduleform");
  inputValue = $input.val();

  // don't allow dots in input field
  //$input.val(inputValue.replace(/\./g, ""));

  // don't allow question marks in input field
  //$input.val(inputValue.replace(/\?/g, ""));
}*/

// don't allow values less than one in the 'run_every' field
function changeRunsEvery() {
  var val = 0;
  val = $("#scheduleform #schedule_run_every").val();
  if (val < 1){
    $("#scheduleform #schedule_run_every").val("1");
  }
  getScheduleNextOccurrences();
}

/*function changeSchedulePeriod(val) {
  $("#scheduleform .daily").hide();
  $("#scheduleform .weekly").hide();
  $("#scheduleform .monthly").hide();
  $("#scheduleform .annually").hide();

  switch (val.toLowerCase()) {
    case "daily":
      $("#scheduleform p#period").text("Days");
      $("#scheduleform .daily").show();
      break;
    case "weekly":
      $("#scheduleform p#period").text("Weeks");
      $("#scheduleform .weekly").show();
      break;
    case "monthly":
      $("#scheduleform p#period").text("Months");
      $("#scheduleform .monthly").show();
      break;
    case "annually":
      $("#scheduleform p#period").text("Years");
      $("#scheduleform .annually").show();
  }
}*/

function changeScheduleExclusionMet(val){
  var $exlusionMet2 = $("#scheduleform #schedule_exclusion_met2");

  switch (val.toLowerCase()) {
    case "cancel":
      $exlusionMet2.hide();
      break;
    default:
      $exlusionMet2.show();
  }
}

function showDaypicker(){
  var $daypicker = $("#scheduleform #daypicker");
  var $daypickerExclude = $("#scheduleform #daypicker-exclude");
  var $weekdayExclude = $("#scheduleform #weekday-exclude");

  $daypicker.show();
  $daypickerExclude.hide();
  $weekdayExclude.show();
}
function hideDaypicker(){
  var $daypicker = $("#scheduleform #daypicker");
  var $daypickerExclude = $("#scheduleform #daypicker-exclude");
  var $weekdayExclude = $("#scheduleform #weekday-exclude");

  $daypicker.hide();
  $daypickerExclude.show();
  $weekdayExclude.hide();
}

function changeScheduleDays(val){
  var $scheduleDays2 = $("#scheduleform #schedule_days2");
  var $daypickerExclude = $("#scheduleform #daypicker-exclude");
  var $weekdayExclude = $("#scheduleform #weekday-exclude");
  var $daypicker = $("#scheduleform #daypicker");

  switch (val.toLowerCase()) {
    case "specific":
      showDaypicker();
      $scheduleDays2.hide();
      break;
    default:
      $daypicker.hide();
      $scheduleDays2.show();
      switch ($scheduleDays2.val()) {
        case "day":
          $weekdayExclude.show();
          $daypickerExclude.hide();
          break;
        default:
          $weekdayExclude.hide();
          $daypickerExclude.show();
      }
  }
}

function showWeekday(){
  $("#scheduleform .schedule-simple-period").hide();
  $("#scheduleform #weekday").show();
}

function hideWeekday(){
  $("#scheduleform .schedule-simple-period").show();
  $("#scheduleform #weekday").hide();
}

function advancedScheduleOptions(force=0){
  var $advancedOptions = $("#scheduleform #schedule_advanced");
  var $advancedOptionsToggle = $("#scheduleform #schedule_advanced_toggle");

  if ($advancedOptions.is(":visible") || force === -1){
    $advancedOptions.slideUp(200);
    $advancedOptionsToggle.text("show advanced options");
  } else {
    $advancedOptions.slideDown(200);
    $advancedOptionsToggle.text("hide advanced options");
  }
}

function schedulePickDate(date, $datesPicked) {
  var isActive = false;
  //var $datesPicked = $("#scheduleform #schedule_dates_picked");
  var dates = $datesPicked.val().split(" ");
  var index = -1;
  var value = $(date).text();

  $(date).toggleClass("active");
  isActive = $(date).hasClass("active");

  if (isActive) {
    dates.push(value);
  } else {
    index = dates.indexOf(value);
    if (index > -1) {
      dates.splice(index, 1);
    }
  }

  $datesPicked.val(dates.join(" "));

  getScheduleNextOccurrences();
}

function changeScheduleType(sType){
  type = sType;
  if (sType === "simple"){
    $("#scheduleform .schedule-advanced").hide();
  } else {
    $("#scheduleform .schedule-advanced").show();
  }
}

function resetScheduleMenu(){
  //$("#scheduleform").find("input[type=submit]").attr("disabled", "disabled");
  $("#scheduleform #schedule_schedule").val("monthly");
  changeSchedulePeriod("monthly");
  changeScheduleType("simple");
  changeScheduleDays("specific");
  changeScheduleExclusionMet("cancel");

  // update date & time
  $("#scheduleform #schedule_start_date").val(getDate());
  $("#scheduleform #schedule_start_time").val(getTime());
  $("#scheduleform #timezone_input").setTimezone();

  $("#scheduleform #schedule_dates_picked").val("");
  $("#scheduleform #schedule_dates_picked_exclude").val("");

  $("#scheduleform #schedule_name").val("");
  $("#scheduleform #schedule_exclusion_met1").val("cancel");
  $("#scheduleform #schedule_exclusion_met2").val("mon");
  $("#scheduleform #schedule_run_every").val(1);

  $("#scheduleform #schedule_days").val("specific");
  $("#scheduleform #schedule_days2").val("day");

  $("#scheduleform #daypicker table td").each(function(i){
    $(this).removeClass("active");
  });

  $("#scheduleform #daypicker-exclude table td").each(function(i){
    $(this).removeClass("active");
  });

  // reset the button-group elements
  $("#scheduleform #button-group").each(function(index){
    $(this).find("input").each(function(i){
      $(this).prop("checked", i === 0);
    });
    $(this).find("label").each(function(i){
      if(i === 0){
        $(this).addClass("active");
      } else {
        $(this).removeClass("active");
      }
    });
  });

  // reset the button-group-weekdays elements
  $("#scheduleform #button-group-weekdays").each(function(index){
    $(this).find("input").each(function(i){
      $(this).prop("checked", false);
    });
    $(this).find("label").each(function(i){
      $(this).removeClass("active");
    });
  });

  advancedScheduleOptions(-1);

  getScheduleNextOccurrences();
}

function renderScheduleMenu() {
  //if ($("#new_schedule_form form").length === 0) {
    $.ajax({
      type: "GET",
      dataType: "html",
      url: "/api/v1/forms/schedules/new",
      beforeSend(){
        insertAjaxSpinner($("#new_schedule_form"));
      },
      success(data) {
        $("#new_schedule_form").html(data);
        //resetScheduleMenu();
        setDatepickers();
        addLadderformListeners();
        setTimezones();
      }
    });
  /*} else {
    resetScheduleMenu();
  }*/
}