<div class="modal <%= 'fade' if Rails.env.test? == false %>" id="accountform" tabindex="-1" role="dialog" aria-labelledby="transactionformLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transactionformLabel"><%= t('views.card_forms.new_account.title') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id="new_account_form">

        <%= render partial: "accounts/new_account_form" if Rails.env.test? %>

      </div>

    </div>
  </div>
</div>