<div class="modal fade" id="accountform" tabindex="-1" role="dialog" aria-labelledby="transactionformLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transactionformLabel">New Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_with(model: Account.new) do |f| %>
        <div class="modal-body">
          <div class="container">

            <div class="row">

              

            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Create Transaction', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>