<% 

selected_category = Category.get_uncategorised
formId = "#transactionform"

%>

<div class="modal transactionform <%= 'fade' if Rails.env.test? == false %>" id="transactionform" tabindex="-1" role="dialog" aria-labelledby="transactionformLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transactionformLabel">New Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id="new_transactions_form">

        <%= render partial: "transactions/new_transactions_form" if Rails.env.test? %>

      </div>

    </div>
  </div>
</div>

<% if Rails.env == 'test' %>
  <script type="text/javascript">
     disableEnter();
  </script>
<% end %>