<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= form_with(model: Transaction.new) do |f| %>
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active px-4">
                    <input type="radio" name="type" id="expense" autocomplete="off" checked>Expense
                  </label>
                  <label class="btn btn-secondary px-4">
                    <input type="radio" name="type" id="income" autocomplete="off" checked>Income
                  </label>
                  <label class="btn btn-secondary px-4">
                    <input type="radio" name="type" id="transfer" autocomplete="off" checked>Transfer
                  </label>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>