<%= render "transactions_list", locals: locals %>

<% dates = distinct_dates(locals[:transactions]) %>
<% dates.each do |d| %>
  <div id="<%= d %>">
    <h3><%= d %></h3>
    <ul>
      <%= yield d %>
    </ul>
  </div>
<% end %>