<h2><%= @active_account.name %> Transactions</h2>

<input type="text" class='datepicker' >

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<button id="create-transaction-button">New Transaction</button>

<%= link_to 'Settings', account_settings_path if @active_account.is_real %>

<%= render "transactions", locals: {transactions: @account_transactions, daily_totals: @daily_totals, account_currency: @account_currency} %>