<h2><%= @active_account.name %> Transactions</h2>
<%= link_to 'Settings', account_settings_path if @active_account.is_real %>

<%= render "new_transaction_form" %>

<%= render "transactions", locals: {transactions: @account_transactions} %>