$darkTheme: false;
$primaryColor:  hsl(216, 100%, 34%);
$complementaryColor: hsl(36, 100%, 34%);
$secondaryColor: hsl(212, 6%, 52%);
$textColor: black;
$premiumColor: #FFD548;

$navbarHeight: 60px;
$sidebarWidth: 350px;
$tdDateWith: 130px;