/*
 *= require_tree .
 *= require_self
 */

$theme: 'dark';

$debug: false;
$debug-border: 1px solid blue;

$main-width-min: 500px;
$main-width-max: 1200px;
$left-menu-width: 300px;

$backgroundColor: #262626;
$backgroundColorMain: #262626;
$backgroundColorContent: #333;
$backgroundColorInput: #000;
$textColor: #fff;
$hoverColor: #444;

@if $theme == 'light' {
  $backgroundColor: #FFF;
  $backgroundColorMain: #FFF;
  $backgroundColorContent: #FFF;
  $textColor: #000;
  $hoverColor: #fff;
  $backgroundColorInput: #FFF;
}

html, body { 
  min-height: 100%;
  width: 100%;
  margin: 0;
  body {
    padding-top: 51px;
    background-color: $backgroundColor;
  }
}

main {
  @if $debug == true {
    border: $debug-border
  }
  min-height: 100%;
  padding: 0;
  display: flex;
  min-width: $main-width-min;
  max-width: $main-width-max;
  margin: 0 auto;
  background-color: $backgroundColorMain;
  color: $textColor;
}

h2 {
  font-size: 30px;
}

.clickable:hover{
  cursor: pointer;
}

.float-right {
  float: right;
}

.sort-handle{
  display: inline-block;
  cursor: move;
  position: relative;
  width: 12px;
  height: 20px;
  margin-left: -22px;
  margin-right: 5px;
  margin-top: -100px;
  top: 4px;
  opacity: 0;
  @if $theme == 'light' {
    background-image: image-url("sort-handle-black.svg")
  } @else {
    background-image: image-url("sort-handle-white.svg")
  }
}

.sortable:hover .sort-handle{
  opacity: 0.5;
}

.sortable:hover .sort-handle:hover{
  opacity: 1;
}

a.no-link-style{
  color: inherit;
  text-decoration: inherit;
}

#left-menu {
  @if $debug == true {
    border: $debug-border
  }
  display: block;
  width: $left-menu-width;
  height: 100%;
  h2 {
    padding: 0 15px;
  }
}

#left-menu ul, #content ul {
  @if $debug == true {
    border: $debug-border
  }
  list-style-type: none;
  padding: 0;
}

#left-menu li, #content li {
  padding: 6px 30px;
  @if $debug == true {
    border: $debug-border
  }
  border-radius: 4px;
}

#left-menu li:hover {
  background-color: $hoverColor;
}

#left-menu li.active {
  background-color: $hoverColor;
  font-weight: bold;
}

#content {
  @if $debug == true {
    border: $debug-border
  }
  float: left;
  flex-grow: 100;
  min-width: 150px;
  background-color: $backgroundColorContent;
  padding: 0 15px;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 10px auto;
  background-color: $backgroundColorInput;
  border:none;
  border-radius: 4px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
button:hover {
  background-color:#5cbf2a;
}
button:active {
  position:relative;
  top:1px;
}

form select {
  color: black;
}