/*
 *= require_tree .
 *= require_self
 */

$debug: true;
$debug-border: 1px solid blue;

$main-width-min: 500px;
$main-width-max: 1200px;
$left-menu-width: 300px;

html, body { 
  height: 100%;
  width: 100%;
  margin: 0;
  body {
    padding-top: 51px;
  }
}

main {
  @if $debug == true {
    border: $debug-border
  }
  height: 100%;
  padding: 0;
  display: flex;
  min-width: $main-width-min;
  max-width: $main-width-max;
  margin: 0 auto;
}

#left-menu {
  @if $debug == true {
    border: $debug-border
  }
  display: block;
  width: $left-menu-width;
  height: 100%;
  float: left;
}

#content {
  @if $debug == true {
    border: $debug-border
  }
  float: left;
  flex-grow: 100;
  min-width: 150px;
  //max-width: 850px;
}