@import "variables";

.category_symbol {
	width: 120px;
	height: 140px;
	float: left;
	padding: 10px;
	.symbol {
		display: block;
		width: 100%;
		margin: 0 auto;
		.category {
			font-size: 30px;
			width: 45px;
			height: 45px;
		}
	}
	.symbol-name {
		width: 100%;
		overflow-wrap: break-word;
		white-space:normal;
	}
	&:hover {
		background-color: lighten($secondaryColor, 30%);
	}
}

.dropdown-menu-symbols {
	position: absolute;
	overflow-y: scroll;
	background-color: white;
	z-index: 1000;
	text-align: center;
	max-width: 630px;
	max-height: 500px;
}

.ui-sortable-placeholder {
	display: block;
	visibility: visible !important;
	background-color: lighten($secondaryColor, 40%);
	border: 1px dashed $secondaryColor;
}

.category-delete-button {
	opacity: 0;
	color: $secondaryColor;
}

#categories_list li:hover .category-delete-button {
	opacity: 0.6;
}

#categories_list li:hover .category-delete-button:hover {
	opacity: 1;
}

#category_delete_modal {
	top: 50px;
}