@import "variables";

.tooltip.in {
  opacity: 1;
}

.slider-left, .slider-right {
	display: inline-block;
}

.slider-left {
	margin-right: 20px;
}

.slider-right {
	margin-left: 20px;
}

#granularity-slider {
	margin-left: 25px;
	.slider-horizontal {
		margin-bottom: 33px!important;
	}
	.slider-tick-label-container {
		margin-left: -52.5px!important;
		.slider-tick-label {
			width: 105px!important;
		}
	}
}

.slider-handle {
	background: $secondaryColor!important;
}

.slider-selection {
	background: lighten($secondaryColor, 35%)!important;
}

.slider-tick.in-selection {
	background: lighten($secondaryColor, 15%)!important;
}

.btn-group {
	width: 100%;
}

.grey-out {
  opacity: 0.6;
}

[id^=categoriesDropdownOptions] {
  height: 350px;
  width: 300px;
  overflow-y: scroll;
  li {
    margin-left: -30px;
  }
}

#categories-dropdown {
	width: 100%;
}

#scheduleform #daypicker, #scheduleform #daypicker-exclude {
  table {
  	margin-top: 10px;
    width: 100%;
    text-align: center;
    td {
      height: 50px;
      border: 1px solid $secondaryColor;
      &:hover {
        background-color: lighten($secondaryColor, 35%);
      }
      &.active {
        background-color: lighten($secondaryColor, 25%);
        &:hover{
          background-color: lighten($secondaryColor, 15%);
        }
      }
    }
  }
}

.btn-rounded {
  border-radius: 500px;
}

[id^=simple_schedule_form] select,
[id^=simple_schedule_form] input,
[id^=simple_schedule_form] p
{
  width: auto;
  display: inline-block;
  &[id^=periodNum] {
    width: 70px!important;
  }
}

.hidden {
  display: none;
}

.btn-hint {
  background: white;
  border: 7px solid $secondaryColor;
  color: $primaryColor;
  padding: 0px 23px;
  font-size: 50px;
  transform: scale(0.3);
  margin-right: -20px;
  margin-left: -20px;
}

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  /*background: none;
  background-color: rgba(0, 0, 0, 0.1);*/
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; width: 25%; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; width: 50%; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; width: 75%; }
meter[value="4"]::-webkit-meter-optimum-value { background: lightgreen; width: 100%; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; width: 25%; }
meter[value="2"]::-moz-meter-bar { background: yellow; width: 50%; }
meter[value="3"]::-moz-meter-bar { background: orange; width: 75%; }
meter[value="4"]::-moz-meter-bar { background: lightgreen; width: 100%; }

/* other */
meter[value="1"] { background: red; width: 25%; }
meter[value="2"] { background: yellow; width: 50%; }
meter[value="3"] { background: orange; width: 75%; }
meter[value="4"] { background: lightgreen; width: 100%; }