@import "variables";

html, body, div, p {
  font-family: 'Sarabun', sans-serif;
  //font-size: 1.025em;
}

body {
  padding-right: 0 !important;
}

#navbar-top {
	-webkit-box-shadow: 0px -20px 21px 18px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px -20px 21px 18px rgba(0,0,0,0.33);
	box-shadow: 0px -20px 21px 18px rgba(0,0,0,0.33);
	height: $navbarHeight;
	.navbar-toggler {
		display: block;
		border: none;
		margin-right: 20px;
	}
}

.navbar-link {
	width: 30px;
	height: 30px;
}

#navbar_search {
  width: calc(100% - 300px);
  max-width: 600px;
  form {
    width: calc(100% - 45px);
  }
}

#sidebar {
	-webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;

	height: calc(100vh - 40px);
	margin-top: 40px;
	//padding-top: 50px;
	overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  
  z-index: 1000;

  width:0;
  &.in {
    width: $sidebarWidth;
  }

  #menu-container {
    padding-top: 50px;
    min-width: $sidebarWidth;
    height: calc(100vh - 50px);
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

#content {
	width: 100%;
  padding-top: 120px;
  padding-left: $sidebarWidth;
  min-height: 100vh;
  &.in {
    padding-left: 0;
  }
}

#accounts_list li.active {
  background-color: lighten($secondaryColor, 30%) !important;
}

.dropdown-menu_notifications {
  max-height: 50vh;
  overflow-y: scroll;
  width: 300px;
}

table {
  width: 100%;

  tr:hover {
    background-color: lighten($secondaryColor, 45%);
  }

  td {
    padding: 10px 5px;
  }

  th {
    padding: 0 5px;
  }
}

@media (max-width: 992px) {
  #sidebar.in {
    width: 0;
  }
  #sidebar {
    width: $sidebarWidth;
  }
  #content.in {
    padding-left: 0;
  }
  #content {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  #navbar_search {
    position: absolute;
    left: 230px;
    width: calc(100% - 250px);
  }
  #sidebar {
    width: 100%;
  }
}