$navbarHeight: 60px;
$sidebarWidth: 350px;

#navbar-top {
	-webkit-box-shadow: 0px -20px 21px 18px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px -20px 21px 18px rgba(0,0,0,0.33);
	box-shadow: 0px -20px 21px 18px rgba(0,0,0,0.33);
	height: $navbarHeight;
	.navbar-toggler {
		display: block;
		border: none;
		margin-right: 20px;
	}
}

.navbar-link {
	width: 30px;
	height: 30px;
}

#sidebar {
	/*background-color: blue!important;*/
	height: calc(100vh - 40px);
	margin-top: 40px;
	padding-top: 50px;
	overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  width: $sidebarWidth;
  .bg-parent {
  	background-color: #F00;
  }
}