@import "variables";

.schedule-action-button {
	color: $secondaryColor !important;
	opacity: 0;

	&:hover {
		opacity: 1;
	}
}

tr:hover .schedule-action-button {
  opacity: 0.5;
}

tr:hover .schedule-action-button:hover {
  opacity: 1;
}