$sidebar_width: 350px;

.navbar-gear {
  width: 30px;
  height: 30px;
  background-image: url('gear.svg');
}

.dropdown-toggle.no-caret::after {
  display:none;
}

.wrapper {
  //display: flex;
  width: 100%;
  //align-items: stretch;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

#sidebar {
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;

  
  height: calc(100vh - 50px);
  margin-top: 50px;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;

  width:0;
  &.in {
    width: $sidebar_width;
  }
  #menu-container {
    min-width: $sidebar_width;
    height: calc(100vh - 50px);
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

#content {
  padding-top: 50px;
  margin-left: $sidebar_width;
  &.in {
    margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar.in {
    width: 0;
  }
  #sidebar {
    width: $sidebar_width;
  }
  #content.in {
    margin-left: 0;
  }
  #content {
    margin-left: 0;
  }
}

.row {
  background: green;
}
div[class^="col"], div[class*=" col"] {
  background: blue;
}