$sidebar_width: 350px;

.row {
  //background: gray;
}
div[class^="col"], div[class*=" col"] {
  //background: blue;
  //border: solid 5px black;
}

body { padding-right: 0 !important }

.navbar-toggler { display:block!important; }

.navbar-gear {
  width: 30px;
  height: 30px;
  background-image: url('gear.svg');
}

input, select, textarea {
  width: 100%;
}

.dropdown-toggle.no-caret::after {
  display:none;
}

.wrapper {
  //display: flex;
  width: 100%;
  //align-items: stretch;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

#sidebar {
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;

  z-index: 1000;
  
  height: calc(100vh - 50px);
  margin-top: 50px;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;

  width:0;
  &.in {
    width: $sidebar_width;
  }
  #menu-container {
    min-width: $sidebar_width;
    height: calc(100vh - 50px);
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

#content {
  width: 100%;
  padding-top: 50px;
  padding-left: $sidebar_width;
  min-height: 100vh;
  &.in {
    margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 992px) {
  #sidebar.in {
    width: 0;
  }
  #sidebar {
    width: $sidebar_width;
  }
  #content.in {
    padding-left: 0;
  }
  #content {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  #content, #sidebar {
    padding-top: 120px;
  }
}

#button-group {

  width: 100%;
}

#categoriesDropdownOptions {
  max-height: 350px;
  overflow-y: scroll;
}
#transactionform #categories button {
  width: 100%;
}
#transactionform textarea {
  height: 200px;
}

hr.form-divider {
  height:0.1px;
  background-color: black;
  width:100%;
}

.alert {
  z-index: 2000;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  text-align: center;
  font-weight: bolder;
  padding: 25px;
  background-color: #ededed;
}

.child_transactions {
  display: none;
}
.show-child-transactions {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  margin-left: -10px;
  margin-top: 10px;
}

#scheduleform #daypicker, #scheduleform #daypicker-exclude {
  table {
    width: 100%;
    text-align: center;
    td {
      height: 50px;
      border: 1px solid blue;
      &:hover {
        background-color: gray;
      }
      &.active {
        background-color: blue;
        &:hover{
          background-color: red;
        }
      }
    }
  }
}