.navbar-gear {
  width: 30px;
  height: 30px;
  background-image: url('gear.svg');
}

.dropdown-toggle.no-caret::after {
  display:none;
}

.wrapper {
  //display: flex;
  width: 100%;
  //align-items: stretch;
}

#sidebar {
  //-webkit-transition: width 0.2s ease;
  //-moz-transition: width 0.2s ease;
  //-o-transition: width 0.2s ease;
  //transition: width 0.2s ease;

  
  height: calc(100vh - 50px);
  margin-top: 50px;
  background: blue;
  overflow: scroll;
  overflow-y: hidden;
  //overflow-x: hidden;

  width:0;
  &.in {
    width: 300px;
  }
  #menu-container {
    min-width: 300px;
    height: calc(100vh - 50px);
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

#content {
  background: purple;
  padding-top: 50px;
  margin-left: 300px;
  &.in {
    margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar.in {
    width: 0;
  }
  #sidebar {
    width: 100%;
  }
  #content.in {
    margin-left: 0;
  }
  #content {
    margin-left: 0;
  }
}