@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

$primary-color: hsl(156, 100%, 31%);
$complementary-color: hsl(18, 100%, 45%);
$default-color: hsl(0, 0%, 7.5%);

$navbar-height: 50px;
$left-menu-width: 300px;

html, body { 
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: $default-color;
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background-color: $default-color;
  opacity: 0.7;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

.cents {
  font-size: 85%;
}

header nav.navbar {
  z-index: 1000;
  background-color: lighten($default-color, 10%);
  padding: 0 10px;
  height: $navbar-height;
  position: fixed;
  width: 100%;
  top:0;
  vertical-align: middle;
  * {
    display: inline;
    .navbar__logo {
      height: $navbar-height;
    }
    .navbar__menu-toggle {
      $navbar-button-size: 40px;
      background-color: $primary-color;
      background-image: url('gear.svg');
      border-radius: 100px;
      width: $navbar-button-size;
      height: $navbar-button-size;
      margin-top: (($navbar-height - $navbar-button-size) * 0.5) - $navbar-height;
      float: right;
      ul {
        float: right;
        margin-top: $navbar-button-size;
        background-color: lighten($default-color, 10%);
        width: 130px;
        padding: 0;
        display: none;
        li {
          display: block;
          text-align: right;
          a {
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            display: block;
            &:hover{
              background-color: lighten($default-color, 20%);
            }
          }
        }
      }
    }
  }
}

#left-menu {
  width: $left-menu-width;
  padding: 0 10px;
  top: $navbar-height;
  border-right: 1px solid lighten($default-color, 10%);
  position: fixed;
  height: calc(100% - 50px);
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 7px 10px;
      &:hover {
        background-color: lighten($default-color, 25%);
      }
      &.active {
        background-color: lighten($default-color, 20%);
      }
    }
  }
}

.card-form {
  color: $default-color;
  display: none;
  z-index: 500;
  width: 450px;
  position: absolute;
  background-color: white;
  top: 100px;
  left: 50%;
  margin-left: -225px;
  padding: 0 0 30px 0;
  -webkit-box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.27);
  box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.27);
  .card-form__title {
    background-color: $primary-color;
    padding: 15px 30px;
    margin-top: 0;
    //text-align: center;
    color: white;
    .card-form__close {
      background-color: $complementary-color;
      background-image: url('cross_white.svg');
      width: 30px;
      height: 30px;
      position: absolute;
      right: 0px;
      top: 0px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .card-form__form-row {
    padding: 20px 15px;
    clear: both;
    .card-form__form-col {
      box-sizing: border-box;
      padding: 0 15px;
      float: left;
    }
  }
}

.dropdown {
  background-color: white;
  img{
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 200px;
    margin-right: 15px;
  }
  .dropdown__options {
    -webkit-box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.27);
    -moz-box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.27);
    box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.27);
    background-color: white;
    display: none;
    position: absolute;
    max-height: 300px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    ul {
      list-style: none;
      padding-left: 15px;
    }
    li {
      padding: 10px;
      &:hover {
        background-color: $primary-color;
      }
    }
  }
}

.alert {
  z-index: 2000;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  text-align: center;
  font-weight: bolder;
  padding: 25px;
  background-color: #ededed;
}

.alert-danger{
  color: #9E1A00;
}
.alert-success{
  color: $primary-color;
}

.col-one {
  width: 10%;
}
.col-two {
  width: 20%;
}
.col-three {
  width: 30%;
}
.col-four {
  width: 40%;
}
.col-five {
  width: 50%;
}
.col-six {
  width: 60%;
}
.col-seven {
  width: 70%;
}
.col-eight {
  width: 80%;
}
.col-nine {
  width: 90%;
}
.col-ten {
  width: 100%;
}

.box-shadow {
  -webkit-box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.27);
  box-shadow: 2px 2px 16px 1px rgba(0,0,0,0.27);
}

#content {
  margin-left: 320px;
  padding: $navbar-height 10px 0 10px;
  #transactions_list{
    padding: 0 20px;
    ul{
      padding:0 0;
      a {
        text-decoration: none;
      }
      .show-child-transactions {
        display: inline-block;
        position: relative;
        width: 10px;
        height: 10px;
        margin-left: -10px;
        margin-top: 10px;
      }
      .child_transactions{
        margin-left: 50px;
      }
      li{
        padding: 5px 20px;
        list-style: none;
        &:hover {
          background-color: $primary-color;
        }
        img{
          vertical-align: middle;
          width: 30px;
          height: 30px;
          padding: 0;
          border-radius: 200px;
        }
        span{
          margin-top: 5px;
        }
      }
    }
    .child_transactions {
      display: none;
    }
  }
}

.datepicker {
  color: $default-color;
}

input, textarea, select, .dropdown {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid #DEDEDE;
  margin-top: 10px;
  font-size: 14px;
}

textarea {
  height: 200px;
}

.clickable {
  cursor: pointer;
}

.invisible {
  opacity: 0;
}

.sort-handle{
  display: inline-block;
  cursor: move;
  position: relative;
  width: 12px;
  height: 20px;
  margin-left: 0;
  margin-right: 5px;
  margin-top: -100px;
  top: 4px;
  opacity: 0;
  background-image: image-url("sort-handle-black.svg")
}

.sortable:hover .sort-handle{
  opacity: 0.5;
}

.sortable:hover .sort-handle:hover{
  opacity: 1;
}

.rotated {
  transform: rotate(90deg);
}

.rotated-back {
  transform: rotate(0);
}

::-webkit-scrollbar-button{
     display: none;
     height: 10px;
     border-radius: 0px;
     background-color: $default-color;
}
 ::-webkit-scrollbar-button:hover{
     background-color: lighten($primary-color, 20%);
}
 ::-webkit-scrollbar-thumb{
     background-color: lighten($default-color, 20%);
     border-radius: 50px;
}
 ::-webkit-scrollbar-thumb:hover{
     background-color: lighten($default-color, 25%);
}
 ::-webkit-scrollbar-track{
     background-color: lighten($default-color, 0%);
}
 ::-webkit-scrollbar-track:hover{
     background-color: lighten($default-color, 0%);
}
 ::-webkit-scrollbar{
     width: 7px;
}

hr {
  border: none;
  height: 1px;
  color: lighten($default-color, 10%);
  background-color: lighten($default-color, 10%);
}

.account_tab_menu {
  width: 100%;
  border-bottom: 3px solid lighten($default-color, 20%);
  list-style: none;
  padding: 0;

  li {
    a {
      display:inline-block;
      width: 150px;
      padding: 10px 0;
      text-decoration: none;
      color: white;
    }
    display: inline-block;
    text-align: center;
    border-radius: 20px 20px 0 0;
    color: white;
    &.active {
      background-color: lighten($default-color, 20%);
    }
    &:hover {
      background-color: lighten($default-color, 25%);
    }
  }

}