$darkTheme: false;
$primaryColor:  hsl(0, 99%, 58%);
$textColor: black;

html, body, div {
	color: $textColor;
}

[class$="-primary"] {
  background-color: $primaryColor!important;
  border-color: $primaryColor;
  //border-color: darken($primaryColor, 10%);
  //border-width: 10px;
}

.btn-primary:hover {
  background-color: lighten($primaryColor, 5%)!important;
  border-color: lighten($primaryColor, 5%)!important;
}


.no-caret::after {
  display:none;
}

.sort-handle{
  display: inline-block;
  cursor: move;
  position: relative;
  width: 12px;
  height: 20px;
  margin-left: 0;
  margin-right: 5px;
  margin-top: -100px;
  top: 4px;
  opacity: 0;
  background-image: image-url("sort-handle-black.svg")
}

.sortable:hover .sort-handle{
  opacity: 0.5;
}

.sortable:hover .sort-handle:hover{
  opacity: 1;
}

.clickable:hover {
	cursor: pointer;
}