@import "variables";

html, body, div {
	color: $textColor;
}

[class$="-primary"] {
  background-color: $primaryColor!important;
  border-color: $primaryColor;
  //border-color: darken($primaryColor, 10%);
  //border-width: 10px;
}

.btn-primary:hover {
  background-color: lighten($primaryColor, 5%)!important;
  border-color: lighten($primaryColor, 5%)!important;
}

[class$="-secondary"] {
  background-color: $secondaryColor!important;
  border-color: $secondaryColor;
}

.btn-secondary:hover {
  background-color: darken($secondaryColor, 10%)!important;
  border-color: darken($secondaryColor, 10%)!important;
}


.no-caret::after {
  display:none;
}

.sort-handle{
  display: inline-block;
  position: relative;
  width: 12px;
  height: 20px;
  margin-left: 0;
  margin-right: 5px;
  margin-top: -100px;
  top: 4px;
  opacity: 0;
  background-image: image-url("sort-handle-black.svg")
}

.move-cursor {
  cursor: move;
}

.sortable:hover .sort-handle{
  opacity: 0.5;
}

.sortable:hover .sort-handle:hover{
  opacity: 1;
}

.clickable:hover {
	cursor: pointer;
}

.dropshadow {
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.22);
  -moz-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.22);
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.22);
}

.dropshadow-light {
  -webkit-box-shadow: 3px 3px 16px -5px rgba(0,0,0,0.32);
  -moz-box-shadow: 3px 3px 16px -5px rgba(0,0,0,0.32);
  box-shadow: 3px 3px 16px -5px rgba(0,0,0,0.32);
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}