@import "variables";

.selected-row {
	background-color: lighten($primaryColor, 60%);
	border-left: 2px solid lighten($primaryColor, 40%)!important;
	&:hover {
		border-left: 2px solid $primaryColor!important;
	}
}

.select-item-container {
	padding: 20px 10px 0 10px;
	margin-top: -20px;
	margin-bottom: 0;
	border-left: 2px solid lighten($primaryColor, 100%);
}

.transactions-daydiv {
	margin-bottom: 40px;
}

#select_all_transactions {
	margin-top: 40px;
	margin-bottom: 60px;
	padding-left: 10px;
}

.child_transactions {
  display: none;
}
.show-child-transactions {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  margin-left: -65px;
  margin-top: 0;
}

.category {
	color: white;
	width: 28px;
  height: 28px;
  text-align: center;
}
