@import "variables";

.cents {
	font-size: 0.833em;
}

.left-menu-item h2 {
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
}

.mass_transaction_action_button {
	color: $primaryColor;
}