<% transaction = Transaction.new.decorate %>
<%= form_with(model: transaction) do |f| %>
  <div class="modal-body">
    <div class="container">

        <%= render partial: "transactions/transaction_form_fields", :locals => {:transaction => transaction, :f => f, :base_only => false, :form_id_prefix => "", :form_id_suffix => "" } %>

    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.button 'Create Transaction', :class => 'btn btn-primary', data: {disable_with: image_tag("ajax_spinner_white.svg", height: "20") + " Processing ..."} %>
  </div>
<% end %>