<h2>Queued Transactions</h2>
<% if @transactions.length == 0 %>
	<p>No queued transactions</p>
<% else %>
	<table>
		<tr>
			<th>
				Date
			</th>
			<th>
				Description
			</th>
			<th>
				Account
			</th>
			<th>
				Currency
			</th>
			<th>
				Amount
			</th>
			<th>
			</th>
		</tr>
		<% @transactions.each do |transaction| %>
			<%= render partial: 'queued_transaction', :locals => {:transaction => transaction} %>
		<% end %>
	</table>
<% end %>