<%= render partial: "edit_upcoming_transaction" %>

<div class="container hide-pagination">
  <div class="row">
    <div class="col-12">

    	<h2>Upcoming Transactions</h2>
    	<p>Transactions scheduled between now and <%= User.format_date(@date + 1.day, true) %></p>

    	<% if @transactions.length == 0 %>
    		<p>No transactions scheduled for now</p>
    	<% else %>
    		<table>
    			<th>Date</th>
    			<th>Schedule</th>
    			<th>Description</th>
    			<th>Amount</th>
    			<th></th>
	    		<%= render :partial => "upcoming_transactions_list", :collection => @transactions, :as => :transaction %>
	    	</table>
    	<% end %>

    </div>
  </div>
</div>

<script>
  function editUpcomingTransactionOccurrence(transactionId, scheduleId, schedulePeriod) {
    $("#edit_upcoming_transaction_form_fields").html("");
    $.ajax({
      type: "GET",
      dataType: "html",
      url: "/api/v1/forms/transactions/upcoming/edit_occurrence/" + transactionId.toString() + "/" + scheduleId.toString() + "/" + schedulePeriod.toString(),
      beforeSend() {
        insertAjaxSpinner($("edit_upcoming_transaction_form_fields"));
      },
      success(data) {
        $("#edit_upcoming_transaction_form_fields").html(data);
        /*setDatepickers();
        addLadderformListeners();
        setTimezones();
        getScheduleNextOccurrences($("#edit_upcoming_transaction_form_fields").find("#type"));*/
      }
    });
  }
</script>