<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>Privacy Policy</h1>
			We are fully committed to transparent and secure data processing. We process any personal data about you in line with EU privacy standards and laws. In this privacy notice, we outline what personal data we process, for what purpose, and how we store it. We only process personal data where we have your consent or where we are entitled to based on other legitimate reasons, in particular where processing is necessary for the performance of the Service.

			We do not process any special categories of personal data, i.e. we do not process any personal data revealing racial or ethnic origin, political opinions, religious or philosophical beliefs.

			If you are not at least 16 years old, please seek advice of your parents, or other adult person who is the holder of parental responsibility before you start using our App or any of the Services.

			<h2>What information we process and why</h2>
			When you use this Service, you grant us permission to collect:
			<ul>
				<li>Your email address. This is used for authentication and marketing purposes.</li>
				<li>Your name. This is used for customisation only.</li>
				<li>Your Country. This is used for local customisation such as date formats</li>
			</ul>

			<h2>How we store your personal data</h2>
			All data that is personally identifiable, such as your name and email address, are stored highly encrypted in our database. For authorisation purposes, we store the decryption key for your email address in a secure location, but we do not store the decryption keys for your first and last name. This means that even the developers of this Service are not able to retrieve this information about you.

			<h2>Data Retention</h2>
			We will maintain your personal information for as long as you are actively using the Service. If you have not logged in for longer than 24 months, we will delete all information entered by you from our system.
		</div>
	</div>
</div>