<div id="sidebar" class="position-fixed collapse in width show bg-dark" aria-expanded="true">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#transactionform" onclick="resetTransactionMenu('#transactionform');" id="new-transaction-button">
    New Transaction
  </button>

  <div id="accountDropdownAccordion" class="d-block d-sm-none">
    <div class="card">

      <div class="card-header" id="accountDropdown">
        <a class="btn btn-link collapsed col-12 clickable" data-toggle="collapse" data-target="#collapseAccuntDropdown" id="accountDropdownToggle">
          <span class="float-left">
            <h5>Account</h5>
          </span>
        </a>
      </div>

      <div id="collapseAccuntDropdown" class="collapse" aria-labelledby="accountDropdown" data-parent="#accountDropdownAccordion">
        <div class="card-body">
          <%= render partial: 'layouts/dropdown_menu', :locals => { :is_dropdown => false } %>
        </div>
      </div>

    </div>
  </div>

  <div id="menu-container" class="px-4 text-light">
    <%= render partial: "left_menu/section", locals: {
      title: "Accounts <span id=\"create-account-button\" class=\"float-right\"><button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#accountform\" onclick=\"resetAccountMenu();\" id=\"new-account-button\">+</button></span>".html_safe,
      section_layout: "left_menu/user_accounts",
      locals: { accounts: user_accounts, active_account: locals[:active_account] }
    } %>
  </div>
  
</div>