<div id="left-menu">

  

  <%= render partial: "left_menu/section", locals: {
    title: "Accounts <span id=\"create-account-button\" class=\"float-right clickable\">+</span>".html_safe,
    section_layout: "left_menu/user_accounts",
    locals: { accounts: user_accounts, active: @account_id }
  } %>

</div>