<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <div class="navbar-menu-toggle clickable">
        <ul class="nav navbar-menu hidden">
          <%= render 'layouts/navigation_links' %>
        </ul>
      </div>
    </div>
  </div>
</nav>
