<nav class="navbar navbar-light bg-light fixed-top py-0 navbar-expand-sm" id="navbar-top">
	<% if user_signed_in? %>
    <% unless @hide_sidebar %>
  	  <button class="navbar-toggler" type="button" data-toggle="toggle" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle navigation" id="sidebarCollapse">
  	    <span class="navbar-toggler-icon"></span>
  	  </button>
    <% end %>
  <% end %>
  <%= link_to image_tag("logo_std_blue.svg", :class => "navbar__logo", 'height' => '35'), root_path %>

  <%#= render 'layouts/search_navbar' %>
  
  <%= render 'layouts/navigation_links' %>
	
</nav>

<script>
  $("#sidebarCollapse").click(function() {
      var selector = $(this).data("target");
      $(selector).toggleClass('in');
      $('#content').toggleClass('in');
  });

  function reloadNotifications() {
    $.ajax({
      type: "GET",
      dataType: "html",
      url: "/api/get_user_notifications",
      success(data) {
        $(".navbar #user_notifications").html(data);
      }
    });
  }

  reloadNotifications();

  setInterval(function(){
      reloadNotifications()
  }, <%= APP_CONFIG['ui']['notifications']['refresh_rate'] %>); // every 10 minutes
</script>