<nav class="navbar navbar-dark bg-dark fixed-top py-0 navbar-expand-sm">
  <button class="navbar-toggler" type="button" data-toggle="toggle" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle navigation" id="sidebarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to image_tag("logo_std_white.svg", :class => "navbar__logo", 'height' => '45'), root_path %>
  <%= render 'layouts/navigation_links' %>
</nav>

<script>
$("#sidebarCollapse").click(function() {
    var selector = $(this).data("target");
    $(selector).toggleClass('in');
    $('#content').toggleClass('in');
});
</script>