<ul class="nav nav-tabs">
  <% if @active_account.persisted? %>
    <li class="nav-item">
      <%= link_to "Transactions", show_account_path, :class => "nav-link" + (' active' if locals[:active_tab] == 'Transactions').to_s %>
    </li>
    <li class="nav-item">
      <%= link_to "Settings", account_settings_path, :class => "nav-link" + (' active' if locals[:active_tab] == 'Settings').to_s %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to "Transactions", root_path + "account", :class => "nav-link" + (' active' if locals[:active_tab] == 'Transactions').to_s %>
    </li>
  <% end %>
  <li class="<%= 'active' if locals[:active_tab] == 'Overview' %> nav-item"><a href="#" class="nav-link">Overview</a></li>
</ul>