<div class="row">
	<div class="col-12">
  	<button class="btn btn-link mass_transaction_action_button disabled delete-confirm float-right" id="mass_delete" data-link="<%= mass_delete_transactions_path %>" ids-target="#selected-transactions" confirm-message="<%= t('views.accounts.mass_transaction_actions.delete.warning') %>" title="<%= t('views.accounts.mass_transaction_actions.delete.hint') %>"><i class="fa fa-trash fa-lg"></i></button>
		<button type="button" class="btn btn-link mass_transaction_action_button disabled float-right" id="mass_assign_to_schedule" onclick="resetTransactionsToScheduleForm();" data-toggle="modal" data-target="#transactions_to_schedule"><i class="fa fa-calendar fa-lg" title="<%= t('views.accounts.mass_transaction_actions.add_to_schedule.hint') %>"></i></button>
	</div>
</div>