<div class="float-right">
  <button type="button" class="btn btn-link mass_transaction_action_button disabled" id="mass_assign_to_schedule" onclick="//advancedScheduleOptions();" data-toggle="modal" data-target="#transactions_to_schedule">assign to schedule</button>
</div>