<%= content_for :account_content do %>
  <div class="row pt-4">
    <div class="col-12">
      HELLO
    </div>
  </div>
<% end %>

<%= render partial: "template", :locals => {:active_tab => "Overview"} %>