<h2><%= @active_account.name %> Transactions</h2>

<%= render "account_tab_menu", locals: {active_tab: "Transactions"} %>

<%= link_to 'Settings', account_settings_path if @active_account.is_real %>

<div id="transactions_list">
  <% locals = {transactions: @account_transactions, daily_totals: @daily_totals, account_currency: @account_currency} %>
  <%= render "transactions", locals: locals %>
</div>

